/* =========
Body Styling
* font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
* bg.png file for background
========= */
body {
	background: url("../img/bg.png");
	color: #fff;
	font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
}


/* =========
Blockquote
* color #e44d26
* font size 2em
* font style italic
* letter spacing 1px
* text aligned center
========= */
blockquote {
	color: #e44d26;
	font-size: 2em;
	font-style: italic;
	letter-spacing: 1px;
	text-align: center; 
}

/* =========
Navigation
* List Items - Navigation provided

Anchor Links
* padding: 10px 10px 10px 40px;
* color on hover #E44D26
========= */
nav li {
	float: left;
	list-style: none;
	margin: 0 10px 0 10px;
}

/* Base link styling */
nav a:link, 
nav a:visited {
	color: #fff;
	padding: 10px 10px 10px 40px;
	text-decoration: none;
	text-transform: uppercase;
}

nav a:hover, 
nav a:active {
	color: #E44D26;
}

/* on hover show home.png */
#home a:hover {
	background: url("../img/icons/home.png") no-repeat left center;
}

/* on hover show home.png */
#super a:hover {
	background: url("../img/icons/super.png") no-repeat left center;
}

/* on hover show home.png */
#html5 a:hover {
	background: url("../img/icons/html5.png") no-repeat left center;
}

/* =========
Super Friends
* font-family: 'Open Sans', sans-serif;
* text-indent: 32px;
* line-height: 24px;
========= */
h3 {
	font-family: 'Open Sans', sans-serif;
}

article img {
	border: 10px solid #fff;
}

img + p {
	line-height: 24px;
	text-indent: 32px;
}

/* =========
Footer
* arial font for paragraphs
========= */
footer p {
	font: 10px/16px 'arial', sans-serif;
}


.html5
{	width: 345px;
	height: 385px;
	display: block;
	margin: 100px auto 0;
	position: relative; }
	
	.html5 .icon
{	}
	
		.html5 .icon .text
	{	}
	
			.html5 .icon .text .left
		{	display: block;
			position: absolute; 
			width: 182px;
			height: 400px; }
	
				.html5 .icon .text .left .left
			{	display: block;
				position: absolute; 
				width: 40px;
				height: 130px;
				background: #ebebeb;
				top: 72px;
				left: 82px;
				-webkit-transform: skew(5deg);
				-moz-transform: skew(5deg); }
				
				.html5 .icon .text .left .top
			{	display: block;
				position: absolute; 
				width: 104px;
				height: 40px;
				background: #ebebeb;
				top: 72px;
				left: 80px; }
				
				.html5 .icon .text .left .middle
			{	display: block;
				position: absolute; 
				width: 96px;
				height: 40px;
				background: #ebebeb;
				top: 162px;
				left: 88px; }
				
				.html5 .icon .text .left .bottom
			{	display: block;
				position: absolute; 
				width: 85px;
				height: 40px;
				background: #ebebeb;
				top: 261px;
				left: 102px;
				-webkit-transform: rotate(12deg);
				-moz-transform: rotate(12deg); }
				
				.html5 .icon .text .left .vert
			{	display: block;
				position: absolute; 
				width: 40px;
				height: 70px;
				background: #ebebeb;
				top: 222px;
				left: 95px;
				-webkit-transform: skew(5deg);
				-moz-transform: skew(5deg); }
			
			.html5 .icon .text .right
		{	height: 400px; 
			width: 150px;
			left: 182px;
			display: block;
			position: absolute;
			overflow: hidden; }
		
				.html5 .icon .text .right .top
			{	display: block;
				position: absolute; 
				width: 105px;
				height: 40px;
				background: #ffffff;
				top: 72px;
				left: -3px;
				-webkit-transform: skew(-5deg);
				-moz-transform: skew(-5deg); }
				
				.html5 .icon .text .right .middle
			{	display: block;
				position: absolute; 
				width: 80px;
				height: 40px;
				background: #ffffff;
				top: 162px; }
			
				.html5 .icon .text .right .right
			{	display: block;
				position: absolute; 
				width: 40px;
				height: 130px;
				background: #ffffff;
				top: 162px;
				left: 50px;
				-webkit-transform: skew(-5deg);
				-moz-transform: skew(-5deg); }
				
				.html5 .icon .text .right .bottom
			{	display: block;
				position: absolute; 
				width: 85px;
				height: 40px;
				background: #ffffff;
				top: 261px;
				left: -5px;
				-webkit-transform: rotate(-12deg);
				-moz-transform: rotate(-12deg); }
		
		.html5 .icon .overlay
	{	height: 400px; 
		width: 150px;
		left: 182px;
		position: absolute;
		display: block;
		overflow: hidden; }
	
			.html5 .icon .overlay .top
		{	width: 160px;
			height: 300px; 
			top: 28px;
			left: -35px;
			display: block;
			background: #f0652a;
			position: absolute;
			-webkit-transform: skew(-5deg);
			-moz-transform: skew(-5deg); }
			
			.html5 .icon .overlay .bottom
		{	position: absolute;
			top: 328px;
			left: -180px;
			display: block;
			border-color: #f0652a transparent transparent;
			border-style: solid;
			border-width: 35px 140px 0px;
			height: 0px;
			margin: 0px 10px;
			width: 0px; }
	
		.html5 .icon .bg
	{	}
	
			.html5 .icon .bg .middle
		{	position: absolute;
			left: 132px;
			background: #e44c27;
			width: 50px;
			height: 355px;
			display: block; }
		
			.html5 .icon .bg .right
		{	position: absolute;
			left: 166px;
			background: #e44c27;
			width: 170px;
			height: 350px;
			display: block;
			-webkit-transform: skew(-5deg);
			-moz-transform: skew(-5deg); }
			
			.html5 .icon .bg .left
		{	position: absolute;
			left: 24px;
			background: #e44c27;
			width: 170px;
			height: 350px;
			display: block;
			-webkit-transform: skew(5deg);
			-moz-transform: skew(5deg); }
			
			.html5 .icon .bg .bottom
		{	position: absolute;
			top: 350px;
			left: 30px;
			display: block;
			border-color: #e44c27 transparent transparent;
			border-style: solid;
			border-width: 35px 140px 0px;
			height: 0px;
			margin: 0px 10px;
			width: 0px; }
.resize {
	max-width: 30%;
	max-height: 30%;
}
